*.orig
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*/*
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
/TrainingDataExtraction/.idea/*
TrainingDataExtraction/.idea/workspace.xml
TrainingDataExtraction/.idea/workspace.xml
TrainingDataExtraction/.idea/workspace.xml
